/*    about*/
.about {
  padding-top: 94px;
  padding-bottom: 47px;
  .title {
    @include Font($title-text-color, bold, 1.14);
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
  }
}

.about-list {
  display: flex;
}
.about-list .items:not(:last-child) {
  margin-right: 30px;
}
.about-list-text {
  margin: 0px;
  width: 270px;
}

.about-svg {
  @include Flex();
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.about-items-svg {
  width: 70px;
  height: 70px;
}
