/* hero  */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/header.jpg');
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  @include Font($secondary-text-color, 900, 1.36, 44px);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
}
.order-button {
  padding: 10px 32px;
  min-width: 200px;
}
